@model MVC_Project.Models.Expense
@{
    ViewBag.Title = "CreateExp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["AlertMsg"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong>@TempData["AlertMsg"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}


<style>
    .error {
        color: red;
    }
</style>

<h2>Create-Expense</h2>

@using (Html.BeginForm("AddExpense", "ExCategory", FormMethod.Post))
{
    <div class="container">

        <div class="form-group">
            <label>Title</label>
            @Html.ValidationMessageFor(h => h.Title, "", new { @class = "error" })
            @Html.TextBoxFor(h => h.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Description</label>
            @Html.ValidationMessageFor(h => h.Description, "", new { @class = "error" })
            @Html.TextAreaFor(h => h.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Amount</label>
            @Html.ValidationMessageFor(h => h.Amount, "", new { @class = "error" })
            @Html.TextBoxFor(h => h.Amount, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Category Name</label>
            @Html.ValidationMessageFor(h => h.Id, "", new { @class = "error" })
            @Html.DropDownList("Id", null, new { @class = "form-control" })
        </div>

        <div class="form-grou" style="display:none;">
            <label>Date Time</label>
            @*@Html.TextBoxFor(h=>h.Date,new { @class="form-control" })*@
            @*@Html.TextBoxFor(h=>h.Date,new { @class="form-control" })*@
            @Html.TextBox("Date", DateTime.Now, new { @disabled = "disabled", @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>
}


